{% extends 'base.html' %}

{% block content %}

<!-- start banner Area -->
{% load static %}
<!--{% static 'streamone/img/header-bg.jpg' %}-->
<section class="home-banner-area relative" id="home" data-parallax="scroll" data-image-src="{% static 'streamone/img/random1.jpg' %}">
		<div class="overlay-bg overlay"></div>
<!--		<h1 class="site-name">Netaleads</h1>-->
		<div class="container">
			<div class="row fullscreen">
				<div class="banner-content col-lg-12">
					<h1 class="col-md-12">
						Expanding <br>
						Your horizon
					</h1>
					<a href="{% url 'about' %}" class="primary-btn">Meet us</a>
				</div>
			</div>
		</div>
		<div class="head-bottom-meta">
			<div class="d-flex meta-left no-padding">
				<a href="#"><span class="fa fa-facebook-f"></span></a>
				<a href="#"><span class="fa fa-twitter"></span></a>
				<a href="#"><span class="fa fa-instagram"></span></a>
			</div>
		</div>
	</section>

<!-- End banner Area -->

<!-- Start About Area -->
<section class="about-area section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7 col-md-12 about-left">
                <img class="img-fluid" src="{% static 'streamone/img/about-main.jpg' alt='' %}">
            </div>
            <div class="col-lg-5 col-md-12 about-right">
                <div class="section-title text-left about-title">
                    <h4>About Us</h4>
                    <h2>We are world's <br/> number one</h2>
                </div>
                <div>
                    <p>
                        Face male he light it moveth darkness winged eveni seas after life every gathering is forth two
                        kind lesser i
                        from seas him open him From creepeth after, life is above image from replenish behold great
                    </p>
                </div>
                <div class="rm"><a href="{% url 'about' %}" class="primary-btn">Read More</a></div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->


<!-- Start features Area -->
<section class="features-area section-gap-top" id="news">
    <div class="container">
        <h1 class="services_glance text-center">What we do</h1>
        <div class="row feature_inner">

            <div class="col-lg-3 col-md-6">
                <div class="feature-item">
                    <i class="fi flaticon-compass"></i>
                    <h4>Creative Design</h4>
                    <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra
                        magnfauc </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item">
                    <i class="fi flaticon-desk"></i>
                    <h4>Experienced Style</h4>
                    <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra
                        magnfauc </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item">
                    <i class="fi flaticon-bathroom"></i>
                    <h4>Product Research</h4>
                    <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra
                        magnfauc </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-item">
                    <i class="fa fa-check fa-2x"></i>
                    <!--						<i class="fi flaticon-beach"></i>-->
                    <h4>Affordable Price</h4>
                    <p>Hac facilisi ac vitae consec tetu commodo vel magna suspendisse on senectus pharetra
                        magnfauc </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End features Area -->

<!--why us section-->
<section class="why-us section-gap">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12 why_us_image about-left">
                <img class="img-fluid" src="{% static 'streamone/img/about.png' alt='' %}">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 about-right">
                <div class="section-title text-left">

                    <h2>Why choose us</h2>
                </div>
                <div>
                    <p>
                        Face male he light it moveth darkness winged eveni seas after life every gathering is forth two
                        kind lesser i
                        from seas him open him From creepeth after, life is above image from replenish behold great Face
                        male he light it moveth darkness winged eveni seas after life every gathering is forth two kind
                        lesser i
                        from seas him open him From creepeth after, life is above image from replenish behold great
                    </p>
                    <i class="bullets fa fa-check"> yes</i><br/>
                    <i class="bullets fa fa-check"> another</i><br/>
                    <i class="bullets fa fa-check"> and another</i><br/>
                    <i class="bullets fa fa-check"> fa fa-check fa-2x</i>
                </div>
                <a href="{% url 'contact' %}" class="primary-btn">Hire us</a>
            </div>
        </div>
    </div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#263a4e" fill-opacity="1"
          d="M0,0L48,26.7C96,53,192,107,288,112C384,117,480,75,576,53.3C672,32,768,32,864,32C960,32,1056,32,1152,48C1248,64,1344,96,1392,112L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
</svg>
<!--end of why us section-->

<!-- Start portfolio Area -->
<section class="portfolio-area section-gap">
    <div class="container">
        <h1 class="text-center">Our recent projects</h1>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 about-left portfolio-stack" style="width: 18rem;">
                <div class="card">
                    <img class="card-img-top" src="{% static 'streamone/img/about-main.jpg' alt='' %}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Project</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <div class="text-center"><a href="#" class="btn my-btn">Visit site</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">


        </div>
    </div>
</section>
<!-- End portfolio Area -->



<!-- Start callto Area -->

<section class="callto-area section-gap relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1>View Our Project </h1>
                <p>ndndn ndnd nndns kskw iowo doodlks lsl ndndn ndndnn dnsk skwiow odood lksl sl
                    ndndn ndndn ndn skskw iowo dood lkslsl ndndn ndndn ndn skskw iowo dood lkslsl
                    ndndn ndndn ndn skskw iowo dood lkslsl ndndn ndndn ndn skskw iowo dood lkslsl
                    ndndn ndndn ndn skskw iowo dood lkslsl ndndn ndndn ndn skskw iowo dood lkslsl
                    ndndn ndndn ndn skskw iowo dood lkslsl ndndn ndndn ndn skskw iowo dood lkslsl
                </p>
            </div>
        </div>
    </div>
</section>

<!-- End callto Area -->

<!-- Start testimonial Area -->
<section class="testimonial-area relative section-gap" id="testimonial">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h4>Testimonials</h4>
                    <h2>What clients say</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial">
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="" src="{% static 'streamone/img/testimonial/male-user-icon.jpg' alt='' %}">
                    </div>
                    <div class="desc">
                        <p>
                            Give dry stars form. Us called an won't winged had land cru abundantly land Midst
                        </p>
                        <h4>Justine Akpan</h4>
                        <div class="bottom">
                            <p>CEO Orange group</p>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="" src="{% static 'streamone/img/testimonial/male-user-icon.jpg' alt='' %}">
                    </div>
                    <div class="desc">
                        <p>
                            Give dry stars form. Us called an won't winged had land cru abundantly land Midst
                        </p>
                        <h4>Timothy James</h4>
                        <div class="bottom">
                            <p>CEO Heptagon</p>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="" src="{% static 'streamone/img/testimonial/male-user-icon.jpg' alt='' %}">
                    </div>
                    <div class="desc">
                        <p>
                            Give dry stars form. Us called an won't winged had land cru abundantly land Midst
                        </p>
                        <h4>Christian Brown</h4>
                        <div class="bottom">
                            <p>CEO Fondera</p>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="" src="{% static 'streamone/img/testimonial/male-user-icon.jpg' alt='' %}">
                    </div>
                    <div class="desc">
                        <p>
                            Give dry stars form. Us called an won't winged had land cru abundantly land Midst
                        </p>
                        <h4>Mikel Taiwo</h4>
                        <div class="bottom">
                            <p>CEO & Founder, Split cash</p>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="" src="{% static 'streamone/img/testimonial/male-user-icon.jpg' alt='' %}">
                    </div>
                    <div class="desc">
                        <p>
                            Give dry stars form. Us called an won't winged had land cru abundantly land Midst
                        </p>
                            <h4>Austin August</h4>
                        <div class="bottom">
                            <p>CEO Ivorystreams</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End testimonial Area -->

<!--Svg test-->
<!--Up i.e north-->
<svg class="wave-top" viewBox="0 0 1439 147" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
          <g class="wave" fill="#f8fafc">
            <path
              d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
            ></path>
          </g>
          <g transform="translate(1.000000, 15.000000)" fill="#263a4e">
            <g transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) ">
              <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
              <path
                d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                opacity="0.100000001"
              ></path>
              <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" opacity="0.200000003"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
<!--svg test end-->

<!-- Start brands Area -->
<section class="brands-area">
    <div class="container no-padding">
        <h2 class="text-center">Our partners</h2>
        <div class="brand-wrap section-gap">
            <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="{% static 'streamone/img/brands/Air-France-Logo.png' alt='' %}"></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="{% static 'streamone/img/brands/caprice2-edited.png' alt='' %}"></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="{% static 'streamone/img/brands/Arik_Air-Logo2.png' alt='' %}"></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="{% static 'streamone/img/brands/caprice-edited.png' alt='' %}"></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="{% static 'streamone/img/brands/mouka logo-edited.png' alt='' %}"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End brands Area -->


{% endblock %}